EMAIL_HOST="<host>"
EMAIL_HOST_USER="<user>"
EMAIL_HOST_PASSWORD="<password>"
DEFAULT_FROM_EMAIL="TGBOJ Admin <system2@system.giftedbat.vn>"
SERVER_EMAIL="The Gifted Battlefield Online Judge <system2@system.giftedbat.vn>"